name : Terraform-splunk      

on :
  push:
    branches: [main]
  workflow_dispatch:


jobs:
  Terraform:
    runs-on: ubuntu-latest


    steps:
      - name : checkout code
        uses: actions/checkout@v4
      - name: setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - name : terraform init
        run : terraform init
      - name : terraform plan
        run : terraform plan